@font-face {
    font-family: "archivo-black";
    src: url("../assets/fonts/ArchivoBlack.otf") format("opentype");
}

@font-face {
    font-family: "league-script";
    src: url("../assets/fonts/LeagueScriptNumberOne.otf") format("opentype");
}

@font-face {
    font-family: "sniglet";
    src: url("../assets/fonts/SnigletRegular.otf") format("opentype");
}

@font-face {
    font-family: "ike-bold";
    src: url("../assets/fonts/IkeBold.ttf") format("truetype");
}

@font-face {
    font-family: "knewave";
    src: url("../assets/fonts/knewave.ttf") format("truetype");
}


body {
    background: #1B1212;
    margin: 0;
    padding: 0;
    cursor: none;
}

#front-greeting {
    display: inline-block;
    color: #89CFF0;
    font-family: "league-script", monospace;
    font-size: 10em;
    font-weight: bolder;
    left: 10vw;
    top: 40vh;
    max-width: 800px;
    position: absolute;
    z-index: 4;

}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.grid-item {
    height: 13px;
    width: 13px;
    border-radius: 2px;
    opacity: 0;
    cursor: none;
    transition: opacity 0.1s linear 0s, transform 0s linear;
    transform: scale(1);
}

.grid-item:hover {
    opacity: 1;
    transition: opacity 0s linear;
    transform: scale(1);
}