@font-face {
    font-family: "archivo-black";
    src: url("../assets/ArchivoBlack.otf") format("opentype");
}

body {
    background-color: #1B1212;
}

.front-greeting {
    color: #89CFF0;
    font-family: "archivo-black", monospace;
    font-size: 9em;
    margin-left: 10vw;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.grid-item {
    height: 250px;
    width: 250px;
    background: rgb(193, 193, 193);
    opacity: 0;
    transition: opacity 1s ease 0.4s, transform 0.1s ease;
    transform: scale(1);
}

.grid-item:hover {
    opacity: 1;
    transition: opacity 0.2s ease;
    transform: scale(1);
}