@font-face {
    font-family: "openSansPX";
    src: url("../assets/fonts/OpenSansPX.ttf") format("truetype");
}

body {
    background: #FAF9F6;
    margin: 0;
    padding: 0;
    cursor: none;
    overflow: hidden;
}

/**
 * Custom cursor
 **/
#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.grid-item {
    height: 13px;
    width: 13px;
    border-radius: 2px;
    opacity: 0;
    cursor: none;
    transition: opacity 0.2s linear 0s, transform 0s linear;
    transform: scale(1);
}

.grid-item:hover {
    opacity: 1;
    transition: opacity 0s linear;
    transform: scale(1);
}

/**
 * Center image
 **/
 #center-container {
    font-size: 8em;
    font-family: 'openSansPX', monospace;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    z-index: 6;
}

#center-image {
    width: 80px;
    height: 80px;
}

/**
 * Mind map
 **/

.mindmap-1 {
    text-align: center;
    font-size: 2em;
    font-family: 'openSansPX', monospace;
}

.mindmap-1 > * {
    position: absolute;
    border-radius: 2px;
    transform: translate(-50%,-50%);
    border: 0.08em double #343434;
    padding: 0.3em;
    z-index: 6;
    cursor: pointer;
}

.mindmap-1> *:hover {
    color: #4a5f4e;
    background-color: beige;
    border-color: #e0d570;
    font-family: 'openSansPX', monospace;
    transition: 0.1s ease;
    font-weight: 1300;
    /* -webkit-transform: scale(1.01);   */
}

#design {
    top: calc(50vh - 50px);
    left: calc(50vw - 170px);
}

#life {
    top: calc(50vh + 50px);
    left: calc(50vw + 160px);
}

#tech {
    top: calc(50vh - 120px);
    left: calc(50vw + 150px);
}