#blog-container {
    display: flex;
    flex-direction: row;
    padding-top: 0.5vh;
    padding-left: 5vw;
    padding-right: 15vw;
    font-family: var(--blog-font), monospace;
    font-size: 2em;
}

#blog-header {
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    padding-right: 2vw;
}

#blog-text {
    border: 1px double rgb(138, 176, 78);
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 8vh;
    width: 600px;
    height: 600px;
    overflow: scroll;
    overflow-y:scroll;
    z-index: 100;
    cursor: default;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(175, 143, 231, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
  

a {
    z-index: 8;
    position: relative;
}