.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 80%;
    padding-left: 70px;
}
  
.column {
    font-family: var(--blog-font), monospace;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    font-size: 1.5em;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
  
.date-column {
    color: #656480;
    background-color: #f5f9fa;
    height: 30px;
    text-align: center;
    width: 200px;
    line-height: 30px;
    font-size: 1.5em;
    margin-top: 5px;
    z-index: 10;
    position: absolute;
}
  
.post-column {
    color: #76cc60;
    height: 30px;
    font-weight: bold;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
    position: absolute;
}

.post-column:hover {
    color: #ffffff;
    background-color: rgb(94, 194, 189);
    border-color: #131c5e;
    font-family: var(--blog-font), monospace;
    transition: 0.1s ease;
    font-weight: 1300;
}