#blog {
    padding-top: 3em;
    padding-left: 10vw;
    padding-right: 10vh;
    font-family: 'openSansPX', monospace;
    font-size: 2em;
    overflow: scroll;
}

a {
    z-index: 8;
    position: relative;
}