:root {
    --background-white: #FFFFFF;
    --rectangle-color: #3042ff;
}

body {
    background: var(--background-white);
}

.rectangles-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 8vh;
    margin-left: 5vw;
    height: 80vh;
    width: 90vw;
    min-width: 1000px;
}

.category-rectangle,
.subcategory-rectangle,
.contents-rectangle {
    border: 1px solid var(--rectangle-color);
    border-radius: 5px;
    height: 100%;
    margin: 10px;
}

.category-rectangle,
.subcategory-rectangle {
    width: 18%;
}

.contents-rectangle {
    width: 100%;
}

.category-title,
.subcategory-title {
    display: block;
    font-family: monospace;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: none;
    border-bottom: 1px solid var(--rectangle-color);
}